*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI;
}

body{
    background:#9dbfec;
    color:#1b2a4e;
}

.text-logo:after{
            content: 'Amar Goswami';
            animation: words 1.5s infinite;
            font-weight: bolder;
            font-size: xx-large;
    }

@keyframes words {
        0%,20%{
            content: 'Amar Goswami';
            color: purple;
            
        }

        21%,40%{
            content: 'Amar Goswami';
            color: blue;
        }

        41%,60%{
            content: 'Amar Goswami';
            color: magenta;
        }

        61%,80%{
            content: 'Amar Goswami';
            color: red;
        }

        81%,100%{
            content: 'Amar Goswami';
            color: forestgreen;
        }
    }


nav{
    background:rgb(179, 249, 146);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    position:sticky;
    top:0;
    z-index: 1;
}

.menu{
    display:flex;
    gap: 20px;
}



.menu a{
        text-decoration:none;
        color:#1b2a4e;
        font-weight:500;
        margin-left: 20px;
}

.menu a i{
    margin-right: 20px;
}

.menu a:hover{
        color:#2563eb;
}

.hidden-link{
    display: none;
}

.hidden-img{
    display: none;
}

.hamburger{
        display:none;
        font-size:28px;
        cursor:pointer;
}

.hero{
    background:linear-gradient(to right,#cfe6ff,#e8f2ff);
    padding:80px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text{
        order: 2;
        text-align: justify;
}

.hero-text h2{
            font-size: 20px;
            color: red;
            margin: 10px;
            margin-top: 30px;
}

.hero-text p{
            font-size: 20px;
            color: green;
            margin-top: 30px;
}

.hero-img img{
        order: 1;
        height: 220px;
        border-radius: 50%;
        object-fit: cover;
        border: 5px solid white;
}

.hero-text h1:after{
            content: 'Amar Goswami';
            animation: words 1.5s infinite;
            
    }

@keyframes words {
        0%,20%{
            content: 'Amar Goswami';
            color: purple;  
        }

        21%,40%{
            content: 'Amar Goswami';
            color: blue;
        }

        41%,60%{
            content: 'Amar Goswami';
            color: rgb(225, 33, 225);
        }

        61%,80%{
            content: 'Amar Goswami';
            color: red;
        }

        81%,100%{
            content: 'Amar Goswami';
            color: forestgreen;
        }
    }

.introduction{
    color: red; 
    font-weight: bold;
    text-align: justify;
    
}

.introduction img{
        height: 180px;
        float: left;
        margin: 25px 20px;
}

.background{
    height: 400px;
    overflow-y: auto;
    scroll-behavior: smooth;
    
}

.about{
    text-align: justify;
    color: yellow;
}

.about-container{
            display:flex;
            align-items:center;
            justify-content:space-between;
}

section{
    padding: 40px;
    text-align:center;
}

.section-title{
            font-size:32px;
            margin-bottom:30px;
}

.skills{
        font-weight: bold; 
        color: red; 
        text-align: justify; 
        font-size: large;
    }

.skillCourse{
        color: magenta;
        text-align: justify;
    }

.Aa{
    height: 300px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.frm {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.frm input,
.frm textarea {
            padding: 12px 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            font-size: 16px;
            outline: none;
            transition: 0.3s ease;
}

.frm input:focus,
.frm textarea:focus {
                border-color: #4f46e5;
                box-shadow: 0 0 5px rgba(79, 70, 229, 0.3);
}

.frm button {
            padding: 12px;
            background: #4f46e5;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.3s ease;
}

.frm button:hover {
                background: #3730a3;
                transform: translateY(-2px);
}

.projects{
        display:flex;
        justify-content:center;
        gap:25px;
}

.card{
    background:white;
    width:280px;
    padding:2px;
    border-radius:12px;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
}

.card img{
        width: 100%;
        height:100px;
        object-fit:contain;
        border-radius:8px;
}

.section{
    background: white;
}

.gallery2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:5px;
        height: 300px;
        overflow-y: auto;
        scroll-behavior: smooth;
        }

.gallery2 img{
        width:100%;
        height:200px;
        object-fit:contain;
        border-radius:10px;
}

.img, .card2{
    border: 3px solid red;
}

.img, .text, h4{
    color: green;
    text-align: justify;
    
}

.img, .text, h3{
    color: red;
    text-align: justify;
    font-size: 15px;
}

.img img{
    object-fit: cover; 
    height: 300px;
}


.its_me{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        height: 300px;
        overflow-y: auto;
        scroll-behavior: smooth;
        margin-top: 40px;
        }

.its_me img{
        height:200px;
        object-fit:contain;
        border-radius:10px;
        margin: 10px;
        border: red 3px solid;
}

.hidden-section{
            display:none;
}

#contact{
        background:linear-gradient(to right,#2563eb,#1e3a8a);
        color:white;
}

.social-icons{
            display:flex;
            justify-content:center;
            gap:25px;
            margin-top:20px;
}

.social-icons a{
            font-size:30px;
            color:white;
            transition:0.3s;
}

.social-icons a:hover{
                    transform:scale(1.2);
}

footer{
    background:#1e3a8a;
    color:white;
    text-align:center;
    padding:15px;
}


.shiv{
    overflow: hidden;
    width: 100%;   
    padding-top: 40px;
}

.shiv-parvati{
    background: red;
    display: flex;
    gap: 20px;
    width: max-content;
    animation: scroll 20s linear infinite;
    
}

.shiv-parvati img{
    height: 250px;
    object-fit: contain;
    border-radius: 10px;
    flex-shrink: 0;
    margin: 20px 0;
}

.shiv-parvati img:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}


.video{
    border: green;
    height: 350px;
    overflow-y: auto;
    scroll-behavior: smooth;
    margin-top: 40px;
}

.video video{
    border: 3px solid red;
    height: 230px;
    margin: 10px;  
}

.Amar{
    background: white;
    height: 120px;
    border: green 2px solid;
    box-shadow: 9px 11px 15px;
    color: red;
    
}

.project{
    font-size: large;
    color: red;
    text-align: center;
}

#content{
    padding: 40px;
    height: 300px;
    overflow-y: auto;
    scroll-behavior: smooth;
    display: none;
    margin-bottom: 40px;
}


#content img{
    max-height: 200px;
    height: auto;
    border-radius: 10px;
    margin: 5px;
}


#content Video{
    max-height: 200px;
    height: auto;
    border-radius: 10px;
    margin: 5px;
    border: 3px solid red;
    margin: 20px;
}

@media(max-width:768px){


.container{
    perspective: 1000px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.hidden-img{
    display: flex;
}
.cube{
    position: relative;
    width: 180px;
    height: 180px;
    transform-style: preserve-3d;
    animation: rotate 5s linear infinite;
}

.face{
    position: absolute;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.face img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.front{
    transform: translateZ(90px);
}

.back{
    transform: rotateY(180deg) translateZ(90px);
}

.right{
    transform: rotateY(90deg) translateZ(90px);
}

.left{
    transform: rotateY(-90deg) translateZ(90px);
}

.top{
    transform: rotateX(90deg) translateZ(90px);
}

.bottom{
    transform: rotateX(-90deg) translateZ(90px);
}

@keyframes rotate{

    0%{
        transform: rotateX(-20deg) rotateY(0deg);
    }

    50%{
        transform: rotateX(-20deg) rotateY(180deg);
    }

    100%{
        transform: rotateX(-20deg) rotateY(360deg);
    }

}

.menu{
    position:absolute;
    top:70px;
    right:0;
    background: black;
    flex-direction:column;    
    width:100%;
    display:none;
    padding:20px 10px;
    text-align:start;
    height: 900px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.menu a{
        text-decoration:none;
        color:white;
        font-weight: bold;
        gap: 10px;
}

.menu a:hover{
        color:red;
}

.menu.active{
    display: flex;
}

.hidden-link{
    display: flex;
}

.hamburger{
        display:block;
}

.slider1{
    background: magenta;
}

.slider{
    width: 320px;
    height: 500px;
    border:2px solid red;
    background-size:100% 100%;
    animation: slide 9s infinite;
}

@keyframes slide{

    0%{background-image:url("../image/itsMe/Amar.jpeg")}
    20%{background-image:url("../image/itsMe/Amar-2.jpg")}
    30%{background-image:url("../image/itsMe/Amar-13.jpg")}
    40%{background-image:url("../image/itsMe/Amar-4.jpg")}
    50%{background-image:url("../image/itsMe/Amar-6.jpg")}
    60%{background-image:url("../image/itsMe/Amar-11.jpg")}
    70%{background-image:url("../image/itsMe/Amar-25.jpeg")}
    80%{background-image:url("../image/itsMe/Amar-28.jpeg")}
    90%{background-image:url("../image/itsMe/Amar-14.jpg")}
    100%{background-image:url("../image/itsMe/Amar-16.jpg")}
}

.slider:hover{
        animation-play-state: paused;
    }

#content{
    background-image:url("../image/etc/image-12.jpg");
}

.about{
    background-image:url("../image/etc/image-2.jpeg");
}

}